* {
  box-sizing: border-box;
}

body{
  margin: 100px 50px 20px 50px;
  font-size: 16pt;
  line-height: 1.6;
  font-weight: 400;
}

h1{
  display: inline-block;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 28px;
}

p {
  font-weight: inherit;
  font-size: 20px;
}

a,
a:visited {
  color: blue;
  text-decoration: none;
}

.pokemon-list {
  list-style-type: none;
  margin-top: 65px;
}

.pokemon-picture {
  height: 150px;
  float: left;
}

footer {
  margin-top: 60px;
  text-align: center;
  width: 100%;
  font-size: 14pt;
}

.CTA{
  font-family: Courier;
  margin-bottom: 5px;
}

.socialIcon{
  height: 67px;
  padding: 5px 15px 5px 15px;
}

@media all and (max-width: 720px) {
  body{
    font-size: 12pt;
  }

  h1{
    padding: 0;
    text-align: center;
  }
  
  .socialIcon{
    height: 40px;
  }
}

hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}